<a href="https://colab.research.google.com/github/shohidullahCSE/Bootstrap5-project/blob/main/ShohidullahExamRoll(406)Reg(202004007)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

## Hello world

In [ ]:
print("Hello, World!")

Hello, World!

## Checking python version

In [ ]:
! python3 --version

Python 3.11.7

## Variables
Containers for storing data.
Don't require to be declared with any particular type.

In [ ]:
x = 10
y = 20
x, y

(10, 20)

In [ ]:
a, b, c = 55, 66, 77
a, b, c

(55, 66, 77)

In [ ]:
m, n, o= 'Hello', 'w', True
m, n, o

('Hello', 'w', True)

variable related problem and code

1. Swapping Two Variables: Using multiple assignments, we can swap the values of two variables without needing a temporary variable.

In [ ]:
a, b = 5, 10
a, b = b, a
print(a, b)

2. Counting Characters in a String: Assign the results of multiple operations on a string to variables in one line.

In [ ]:
word = "Python"
length = len(word)
print("Length of the word:", length)

## Data types
Built-in data types

- Text Type: 	str
- Numeric Types: 	int, float, complex
- Sequence Types: 	list, tuple, range
- Mapping Type: 	dict
- Set Types: 	set, frozenset
- Boolean Type: 	bool
- Binary Types: 	bytes, bytearray, memoryview
- None Type: 	NoneType

1. How can you concatenate two lists in Python?
We can concatenate two lists in Python using the +operator or the extend() method.

Using the + operator:
This creates a new list by joining two lists together.

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
res = a + b
print(res)

2.Take two numbers as input.

One number should be an integer
The other number should be a float
Find their sum and print the data type of the result.

In [ ]:
a = int(input("Enter first number: "))
b = float(input("Enter second number: "))

result = a + b
print("Sum =", result)
print("Data type =", type(result))

3. Take first name and last name as input from the user and
print the full name by concatenating them.

In [ ]:
first_name = input("Enter first name: ")
last_name = input("Enter last name: ")

full_name = first_name + " " + last_name
print("Full Name:", full_name)
print("Data type:", type(full_name))

4.Create a list containing five numbers.
Print the list, the first element, and the last element of the list.

In [ ]:
numbers = [10, 20, 30, 40, 50]

print("List:", numbers)
print("First element:", numbers[0])
print("Last element:", numbers[-1])
print("Data type:", type(numbers))

5. Create a dictionary to store a student’s name, roll number, and marks.
Print the marks from the dictionary.

In [ ]:
student = {
    "name": "Rahim",
    "roll": 5,
    "marks": 85
}

print("Marks:", student["marks"])
print("Data type:", type(student))

### Checking data types

In [ ]:
a, b, c, d, e, f, g = 'wasik', 5, 2.32, 3+2j, [1, 2, 3], True, None
type(a), type(b), type(c), type(d), type(e), type(f), type(g)

(str, int, float, complex, list, bool, NoneType)

1. Assign different values to variables and print their data types.

In [ ]:
a = 10
b = 3.5
c = "Python"
d = True

print(type(a))
print(type(b))
print(type(c))
print(type(d))

2. Take input from the user and print its data type.

In [ ]:
x = input("Enter something: ")
print(type(x))

3.Take a number as input, convert it into an integer, and check its data type.

In [ ]:
num = input("Enter a number: ")
num = int(num)

print(type(num))

## Numbers
There are three numeric types in Python
- int
- float
- complex

In [ ]:
x = 5
y = 6.78
z = 5+10j
type(x), type(y), type(z)

(int, float, complex)

1. Take two numbers as input and print their sum.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Sum =", a + b)

2. Add one integer and one float number and check the data type of the result.

In [ ]:
a = 10
b = 3.5

result = a + b
print(result)
print(type(result))

3. Convert a float number into an integer.

In [ ]:
x = 9.8
y = int(x)

print(y)
print(type(y))

4. Check whether a number is an integer or not.

In [ ]:
x = 20
print(isinstance(x, int))

5. Write a program to check whether a given number is even or odd.

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

## Casting
Specify a type on to a variable using casting.

In [ ]:
a, b, c, d = 3, 5.66, '5', 7+8j

**Integers**

In [ ]:
int(a), int(b), int(c)
# A complex number cannot be represented as an integer.
# int(d) will raise an error

(3, 5, 5)

**Floats**

In [ ]:
float(a), float(b), float(c)
# A complex number cannot be represented as an float.
# float(d) will raise an error

(3.0, 5.66, 5.0)

**Strings**

In [ ]:
str(a), str(b), str(c), str(d)

('3', '5.66', '5', '(7+8j)')

## Strings
Strings are used for representing textual data. A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).

In [ ]:
string = "This is a string"
string

'This is a string'

1. Write a program to convert a string into uppercase and lowercase.

In [ ]:
s = input("Enter a string: ")

print("Uppercase:", s.upper())
print("Lowercase:", s.lower())

2. Write a program to reverse a given string.

In [ ]:
s = input("Enter a string: ")
print("Reversed string:", s[::-1])

3.Write a program to check whether a string is a palindrome or not.

In [ ]:
s = input("Enter a string: ")

if s == s[::-1]:
    print("Palindrome")
else:
    print("Not Palindrome")

4. Write a program to count the number of vowels in a given string.

In [ ]:
s = input("Enter a string: ")
count = 0

for ch in s.lower():
    if ch in "aeiou":
        count += 1

print("Number of vowels:", count)

**Multiline Strings**

Triple quote marks “”" or ''' creates multi-line strings.

In [ ]:
multiline_string = """This is a
multiline
string
"""
multiline_string

'This is a\nmultiline\nstring\n'

**Looping Through a String**

In [ ]:
string = 'string'
for char in string:
    print(char)

s
t
r
i
n
g

**String Length**

`len()` function returns the length of a string.

In [ ]:
string = "Hello, World!"
len(string)

13

### Slicing

`string[start:stop:step]`

In [ ]:
s = "Python is fun!!!"

**Slice From the Start**

In [ ]:
s[:6]

'Python'

**Slice To the End**

In [ ]:
s[7:]

'is fun!!!'

**Negative Indexing**

In [ ]:
s[:-3]

'Python is fun'

My problem of slicing

1. Extract the first five characters from a given string.

In [ ]:
s = "PythonProgramming"
result = s[0:5]
print(result)

2.Extract the last three characters from a given string.

In [ ]:
s = "Bangladesh"
result = s[-3:]
print(result)

3. Reverse a given string using slicing.

In [ ]:
s = "Python"
result = s[::-1]
print(result)


s = "Python"
result = s[::-1]
print(result)

### Modify Strings

**Upper Case**

In [ ]:
string = 'Hello, World!'
string.upper()

'HELLO, WORLD!'

**Lower Case**

In [ ]:
string = 'Hello, World!'
string.lower()

'hello, world!'

**Capitalize**

In [ ]:
string = 'this is capitalized string!'
string.capitalize()

'This is capitalized string!'

**Remove Whitespace**

In [ ]:
string = "   Hello, World!   "
string.strip()

'Hello, World!'

**Replace**

In [ ]:
string = 'Hello, World!'
string.replace('H', 'J')

'Jello, World!'

**Split**

In [ ]:
string = 'Hello, World!'
string.split(',')

['Hello', ' World!']

### Concatenation
Concatenate or combine two string using `+` operator.

In [ ]:
first_part = 'To be'
second_part = 'or not to be.'
full_string = first_part + ' '+ second_part
full_string

'To be or not to be.'

### Format Strings
using `f-strings` or `format()` method.

In [ ]:
name = 'Alice'
age = 30
city = 'Wonderland'

In [ ]:
formatted_string = 'My name is {}. I am {} years old and I live in {}.'.format(name, age, city)
formatted_string

'My name is Alice. I am 30 years old and I live in Wonderland.'

In [ ]:
formatted_string = f'My name is {name}. I am {age} years old and I live in {city}.'
formatted_string

'My name is Alice. I am 30 years old and I live in Wonderland.'

### Escape Characters

**single quote escape character**

In [ ]:
sentence_with_single_quote = 'It\'s a beautiful day!'
print(sentence_with_single_quote)

It's a beautiful day!

**new line escape character**

In [ ]:
sentence_with_new_line = 'Hello,\nWelcome to the party!'
print(sentence_with_new_line)

Hello,
Welcome to the party!

**backslash escape character**

In [ ]:
sentence_with_backslash = 'This is a backslash: \\'
print(sentence_with_backslash)

This is a backslash: \

**tab escape character**

In [ ]:
sentence_with_tab = "Name:\tAlice"
print(sentence_with_tab)

Name:	Alice

### More string methods
- [GeeksforGeeks](https://www.geeksforgeeks.org/python-string-methods)
- [W3Schools](https://www.w3schools.com/python/python_strings_methods.asp)

## Booleans
- Booleans are a data type that can hold one of two values: `True` or `False`.
- Used to represent truth values.
- Typically the result of comparisons or logical operations.

**Boolean Values**
- `True`: Represents a truth value.
- `False`: Represents a false value.

`0` and `1` are integer values, but they can also be interpreted as boolean values.

In [ ]:
is_sunny = True
is_raining = False

is_sunny, is_raining

(True, False)

### Booleans in Conditions

In [ ]:
is_hungry = True

if is_hungry:
    print("Time to eat!")
else:
    print("Not hungry right now.")

Time to eat!

### Comparisons Resulting in Booleans

In [ ]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

### Logical Operations with `0` and `1`

In [ ]:
a = 0
b = 1

print(a and b)
print(a or b)

0
1

### Integer and Float to Boolean Convertion

Any number is `True`, except `0`.

In [ ]:
bool(0), bool(1), bool(2), bool(20), bool(-100), bool(5.5)

(False, True, True, True, True, True)

### More Resources
- [GeeksforGeeks](https://www.geeksforgeeks.org/boolean-data-type-in-python/)
- [W3Schools](https://www.w3schools.com/python/python_booleans.asp)
- [Python Booleans: Use Truth Values in Your Code](https://realpython.com/python-boolean/)

## Conditional Statements
Conditional statements allow to execute certain blocks of code based on whether a condition is true or false. They are essential for decision-making in programming.

**Types of Conditional Statements**
1. if statement
2. if-else statement
3. if-elif-else statement
4. Nested if statements

### `if` Statement
The statement evaluates a condition and executes the indented block of code if the condition is true.

```
if condition:
    # code block
```

In [ ]:
age = 18

if age >= 18:
    print("You are an adult.")

You are an adult.

### `if-else` Statement
The `else` statement is used to execute a block of code if the condition in the `if` statement is false.
```
if condition:
    # block of code if condition is true
else:
    # block of code if condition is false

```

In [ ]:
age = 16
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

### `elif` Statement
The `if-elif-else` statement allows checking multiple conditions. The first true condition's code block gets executed.

```
if condition1:
    # code block for condition1
elif condition2:
    # code block for condition2
else:
    # code block if none of the above conditions are true
```

In [ ]:
score = 75
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 50:
    print("Grade: D")
else:
    print("Grade: F")

Grade: C

### Nested `if` Statements
 `if`, `elif`, and `else` statements can be nested to create more complex conditions.

 ```
if condition1:
    if condition2:
        # block of code if condition1 and condition2 are true
    else:
        # block of code if condition1 is true but condition2 is false
else:
    # block of code if condition1 is false
 ```

In [ ]:
num = 10
if num > 0:
    print("The number is positive.")
    if num % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
else:
    print("The number is negative or zero.")

The number is positive.
The number is even.

Conditional Statements related some problem by shohidullah

Check Even or Odd

1. Write a program to check whether a given number is even or odd.

In [ ]:
num = int(input("Enter a number: "))

if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Positive, Negative, or Zero

2. Check whether a number is positive, negative, or zero.

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("Positive")
elif num < 0:
    print("Negative")
else:
    print("Zero")

Largest of Three Numbers

Find the largest of three numbers.

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

if a >= b and a >= c:
    print("Largest:", a)
elif b >= a and b >= c:
    print("Largest:", b)
else:
    print("Largest:", c)

**Additional Resources**

1. Official Python Documentation: [Control Flow - if statements](https://docs.python.org/3/tutorial/controlflow.html#if-statements)
2. Programiz: [Python if...else Statement](https://www.programiz.com/python-programming/if-elif-else)
3. Real Python: [Real Python - Conditional Statements](https://realpython.com/python-conditional-statements/)

## Loops
Loops are used to execute a block of code repeatedly until a certain condition is met. They are essential for automating repetitive tasks.

**Types of Loops**
1. `for` loop
2. `while` loop

### `for` loop
The `for` loop is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) or other iterable objects. It repeats the block of code for each element in the sequence.
```
for variable in sequence:
    # block of code
```

Print Numbers from 1 to 10

In [ ]:
for i in range(1, 11):
    print(i)

Sum of First N Numbers

Input a number N and find the sum of first N natural numbers.

In [ ]:
N = int(input("Enter N: "))
sum = 0
i = 1

while i <= N:
    sum += i
    i += 1

print("Sum =", sum)

Print Even Numbers

In [ ]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

Factorial of a Number

In [ ]:
num = int(input("Enter a number: "))
fact = 1

for i in range(1, num + 1):
    fact *= i

print("Factorial =", fact)

Nested Loop – Print Pattern

In [ ]:
rows = 4

for i in range(1, rows+1):
    for j in range(i):
        print("*", end="")
    print()

**Iterating over a list**

In [ ]:
nums = [11, 22, 33, 44, 55]
for num in nums:
    print(num)

11
22
33
44
55

**Iterating over a string**

In [ ]:
string = "Hello"
for char in string:
    print(char)

H
e
l
l
o

**Iterating over a range of numbers**

`range()` function generates a sequence of numbers.

`range(start, stop, step)`

In [ ]:
for i in range(5):
    print('Hello', i)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [ ]:
for i in range(10, 15):
    print(i)

10
11
12
13
14

In [ ]:
# print all even numbers between 0 and 20
for i in range(0, 20, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18

### `while` loop
A `while` loop repeats as long as a specified condition is true. *`while` loop is used when the number of iterations is not known in advance*.

```
while condition:
    # block of code
```

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

**Enter a positive number**
In this program, a `while` loop repeatedly asks the user to input a positive number. The loop continues until the user enters a positive number.

In [ ]:
# num = -1
#
# while num <= 0:
#     num = int(input('Please enter a positive number: '))
#
#     if num <= 0:
#         print(f'The number {num} is not a positive number. Try again.')
#
# print(f'You entered a positive number!!!\nEntered number: {num}')

### Loop Control Statements

**`break` Statement**
The `break` statement is used to exit the loop prematurely when a certain condition is met.

In [ ]:
for num in range(10):
    if num == 5:
        break
    print(num)

0
1
2
3
4

**`continue` Statement**
The `continue` statement skips the current iteration and moves to the next iteration of the loop.

In [ ]:
for num in range(5):
    if num == 3:
        continue
    print(num)

0
1
2
4

**More Resources**
1. Python Documentation:
    - [for Statements](https://docs.python.org/3/tutorial/controlflow.html#for-statements)

## Functions
A set of instructions that perform a specific task. Can be reused whenever needed.

### Defining Functions
Functions are defined using the `def` keyword.

```
def function_name(parameters):
    # function body
    return value
```

**_NOTE:_** Parameters are optional.

In [ ]:
def say_hello():
    print('Hello, World!')

### Calling Functions
Functions are called by its name followed by parentheses.

In [ ]:
say_hello()

Hello, World!

### Parameterized Functions
- Parameters allow to pass information into the function.
- Parameters are defined inside the parentheses.
- Parameters specify the type and number of values the function expects to receive when it's called.

**_Arguments:_** _Actual values that is provided during a function call._

In [ ]:
def say_hello(name):
    print(f"Hello, {name}!")

In [ ]:
say_hello('Guido van Rossum') # creator of the Python programming language

Hello, Guido van Rossum!

### Return Values
A return value is the result that a function sends back to the place where it was called.

The `return` statement is used to specify the return value of a function.

In [ ]:
def add(a, b):
    return a + b

In [ ]:
result = add(10, 20)
result

30

Write a function to print the sum of two numbers.

In [ ]:
def add(a, b):
    sum = a + b
    print("Sum =", sum)

add(10, 20)

Sum = 30

Function with Return Value

In [ ]:
def square(n):
    return n ** 2

result = square(5)
print("Square =", result)

Factorial Using Function

In [ ]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

num = int(input("Enter a number: "))
print("Factorial =", factorial(num))

Check Even or Odd Using Function

In [ ]:
def check_even_odd(n):
    if n % 2 == 0:
        print(n, "is Even")
    else:
        print(n, "is Odd")

check_even_odd(15)
check_even_odd(20)

Function Returning Multiple Values

In [ ]:
def sum_diff(a, b):
    return a + b, a - b

s, d = sum_diff(10, 5)
print("Sum =", s)
print("Difference =", d)

**the problem related to all topics that cover above **

In [ ]:
# =====================
# 1. Data Types (1–15)
# =====================

# 1. Input type check
x = input("Enter something: ")
print("Type:", type(x))

# 2. Variable type int
x = 10
print(type(x))

# 3. Variable type float
y = 5.5
print(type(y))

# 4. Variable type string
name = "Python"
print(type(name))

# 5. Boolean type
is_valid = True
print(type(is_valid))

# 6. Convert string to int
s = "100"
num = int(s)
print(num, type(num))

# 7. Convert int to float
x = 50
y = float(x)
print(y, type(y))

# 8. List type
lst = [1,2,3,4,5]
print(type(lst))

# 9. Tuple type
t = (1,2,3)
print(type(t))

# 10. Set type
s = {1,2,3,2}
print(type(s))

# 11. Dictionary type
d = {'a':1,'b':2}
print(type(d))

# 12. Input two numbers as string and sum
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
print("Sum:", a+b)

# 13. Input number and check type
num = float(input("Enter number: "))
if num == int(num):
    print("Int")
else:
    print("Float")

# 14. Complex number
c = 3+5j
print(c, type(c))

# 15. Check if input is numeric
x = input("Enter: ")
print("Is numeric?", x.isnumeric())


# =====================
# 2. Numbers (16–30)
# =====================

# 16. Even or Odd
num = int(input("Enter number: "))
print("Even" if num % 2 == 0 else "Odd")

# 17. Positive, Negative, Zero
num = int(input("Enter number: "))
if num>0:
    print("Positive")
elif num<0:
    print("Negative")
else:
    print("Zero")

# 18. Square
n = int(input("Enter number: "))
print("Square:", n**2)

# 19. Cube
print("Cube:", n**3)

# 20. Sum, Difference, Product, Division
a = int(input("Enter a: "))
b = int(input("Enter b: "))
print("Sum:", a+b)
print("Difference:", a-b)
print("Product:", a*b)
print("Division:", a/b)

# 21. Factorial
n = int(input("Enter number: "))
fact = 1
for i in range(1,n+1):
    fact *= i
print("Factorial:", fact)

# 22. Divisible by 5
n = int(input("Enter number: "))
print("Divisible by 5" if n%5==0 else "Not divisible")

# 23. Divisible by 3 and 5
print("Divisible by 3 and 5" if n%3==0 and n%5==0 else "Not divisible by both")

# 24. Prime check
n = int(input("Enter number: "))
if n>1:
    for i in range(2,n):
        if n%i==0:
            print("Not prime")
            break
    else:
        print("Prime")
else:
    print("Not prime")

# 25. Largest of two
a = int(input("a: "))
b = int(input("b: "))
print("Largest:", max(a,b))

# 26. Largest of three
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))
print("Largest:", max(a,b,c))

# 27. Multiplication table
num = int(input("Number: "))
for i in range(1,11):
    print(num,"x",i,"=",num*i)

# 28. Sum of digits
num = int(input("Number: "))
sum_digits = 0
for d in str(num):
    sum_digits += int(d)
print("Sum of digits:", sum_digits)

# 29. Reverse number
num = int(input("Number: "))
rev = 0
temp = num
while temp>0:
    rev = rev*10 + temp%10
    temp//=10
print("Reversed:", rev)

# 30. Armstrong number
num = int(input("Number: "))
sum_arm = sum(int(d)**3 for d in str(num))
print("Armstrong" if sum_arm==num else "Not Armstrong")


# =====================
# 3. Strings (31–45)
# =====================

# 31. Print string
s = input("Enter string: ")
print(s)

# 32. Full name
first = input("First name: ")
last = input("Last name: ")
print("Full Name:", first+" "+last)

# 33. String length
s = input("String: ")
print("Length:", len(s))

# 34. Uppercase
print(s.upper())

# 35. Lowercase
print(s.lower())

# 36. Alternate characters
print(s[::2])

# 37. Reverse string
print(s[::-1])

# 38. Count vowels
count = sum(1 for ch in s.lower() if ch in 'aeiou')
print("Vowels:", count)

# 39. Palindrome check
print("Palindrome" if s==s[::-1] else "Not palindrome")

# 40. Substring check
sub = input("Substring: ")
print("Found" if sub in s else "Not found")

# 41. Replace word
old = input("Old word: ")
new = input("New word: ")
print(s.replace(old,new))

# 42. Remove spaces
print(s.replace(" ",""))

# 43. First and last character
print("First:", s[0], "Last:", s[-1])

# 44. Title case
print(s.title())

# 45. Startswith check
prefix = input("Prefix: ")
print("Yes" if s.startswith(prefix) else "No")


# =====================
# 4. Slicing (46–60)
# =====================

# 46. First 5 chars
print(s[:5])

# 47. Last 5 chars
print(s[-5:])

# 48. Index 2 to 6
print(s[2:7])

# 49. Remove first and last
print(s[1:-1])

# 50. Every 2nd char
print(s[::2])

# 51. Reverse using slicing
print(s[::-1])

# 52. List first 3
lst = [int(x) for x in input("List: ").split()]
print(lst[:3])

# 53. List last 3
print(lst[-3:])

# 54. List index 2 to 5
print(lst[2:6])

# 55. Alternate elements
print(lst[::2])

# 56. Tuple first 3
t = tuple(int(x) for x in input("Tuple: ").split())
print(t[:3])

# 57. Tuple last 2
print(t[-2:])

# 58. String odd indices
print(s[1::2])

# 59. String even indices
print(s[0::2])

# 60. Remove vowels
print("".join(ch for ch in s if ch.lower() not in 'aeiou'))


# =====================
# 5. Conditional Statements (61–75)
# =====================

# 61. Grade
marks = int(input("Marks: "))
if marks>=80:
    print("Grade A")
elif marks>=60:
    print("Grade B")
elif marks>=40:
    print("Grade C")
else:
    print("Grade F")

# 62. Divisible by 3
n = int(input("Number: "))
print("Yes" if n%3==0 else "No")

# 63. Divisible by 5
print("Yes" if n%5==0 else "No")

# 64. Divisible by 3 or 5
print("Yes" if n%3==0 or n%5==0 else "No")

# 65. Divisible by 3 and 5
print("Yes" if n%3==0 and n%5==0 else "No")

# 66. Prime check
if n>1:
    for i in range(2,n):
        if n%i==0:
            print("Not prime")
            break
    else:
        print("Prime")
else:
    print("Not prime")

# 67. Leap year
year = int(input("Year: "))
if (year%4==0 and year%100!=0) or (year%400==0):
    print("Leap Year")
else:
    print("Not Leap Year")

# 68. Largest of two
a = int(input("a: "))
b = int(input("b: "))
print(max(a,b))

# 69. Largest of three
c = int(input("c: "))
print(max(a,b,c))

# 70. Vowel or consonant
ch = input("Char: ").lower()
print("Vowel" if ch in 'aeiou' else "Consonant")

# 71. Even/Odd function
def check_even_odd(n):
    print("Even" if n%2==0 else "Odd")
check_even_odd(int(input("Number: ")))

# 72. Voting eligibility
age = int(input("Age: "))
print("Eligible" if age>=18 else "Not Eligible")

# 73. Pos/Neg/Zero
n = int(input("Number: "))
if n>0:
    print("Positive")
elif n<0:
    print("Negative")
else:
    print("Zero")

# 74. Ascending order of three numbers
a = int(input("a: "))
b = int(input("b: "))
c = int(input("c: "))
print("Ascending:", sorted([a,b,c]))

# 75. Divisible by 2,3,5
print("Divisible by 2,3,5" if n%2==0 or n%3==0 or n%5==0 else "Not divisible")


# =====================
# 6. Loops (76–90)
# =====================

# 76. Numbers 1 to 10
for i in range(1,11):
    print(i)

# 77. While 1 to 10
i=1
while i<=10:
    print(i)
    i+=1

# 78. Even 1 to 20
for i in range(1,21):
    if i%2==0: print(i)

# 79. Odd 1 to 20
for i in range(1,21):
    if i%2!=0: print(i)

# 80. Sum first n
n = int(input("n: "))
sum = 0
for i in range(1,n+1):
    sum+=i
print("Sum:", sum)

# 81. Sum first n even
n = int(input("n: "))
sum_even=0
for i in range(2,2*n+1,2):
    sum_even+=i
print("Sum even:", sum_even)

# 82. Sum first n odd
sum_odd=0
for i in range(1,2*n,2):
    sum_odd+=i
print("Sum odd:", sum_odd)

# 83. Multiplication table
num=int(input("Number: "))
for i in range(1,11):
    print(num,'x',i,'=',num*i)

# 84. Reverse 10 to 1
for i in range(10,0,-1):
    print(i)

# 85. Pattern
rows=4
for i in range(1,rows+1):
    print("*"*i)

# 86. Square pattern
n=int(input("Rows: "))
for i in range(n):
    print("*"*n)

# 87. Triangle pattern of numbers
n=int(input("Rows: "))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

# 88. Fibonacci series
n=int(input("Terms: "))
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b
print()

# 89. Sum of digits
num=int(input("Number: "))
sum_d=0
for d in str(num):
    sum_d+=int(d)
print("Sum digits:", sum_d)

# 90. Count digits
num=int(input("Number: "))
count=0
while num>0:
    num//=10
    count+=1
print("Digits:", count)


# =====================
# 7. Functions (91–100)
# =====================

# 91. Simple greet
def greet():
    print("Hello Python")
greet()

# 92. Add two numbers
def add(a,b):
    print("Sum:",a+b)
add(10,20)

# 93. Square
def square(n):
    return n**2
print(square(5))

# 94. Factorial
def factorial(n):
    f=1
    for i in range(1,n+1):
        f*=i
    return f
print(factorial(5))

# 95. Even/Odd check
def even_odd(n):
    print("Even" if n%2==0 else "Odd")
even_odd(7)

# 96. Greet user default
def greet_user(name="Guest"):
    print("Hello",name)
greet_user("Rahim")
greet_user()

# 97. Sum and Difference
def sum_diff(a,b):
    return a+b,a-b
s,d=sum_diff(10,5)
print("Sum:",s,"Diff:",d)

# 98. Recursive factorial
def rec_fact(n):
    if n==0 or n==1: return 1
    return n*rec_fact(n-1)
print(rec_fact(5))

# 99. Reverse string
def reverse_str(s):
    return s[::-1]
print(reverse_str("Python"))

# 100. Count vowels
def count_vowels(s):
    return sum(1 for ch in s.lower() if ch in 'aeiou')
print(count_vowels("PythonProgramming"))